{% extends "nature/base.html" %}
{% load staticfiles %}
{% block title %}Observations{% endblock %}
{% block app.scripts %}
<script src="{% static 'js/holder/holder.js' %}"></script>
<script>
$(function() {
    $('.note').tooltip({ title: 'Edit this observation', placement: 'right' });
    $('.note2').tooltip({ title: 'Click to download all your observations', placement: 'right' });
});
</script>
{% endblock %}
{% block content-span%}<div class="span5 offset1">{% endblock %}
{% block content %}
<h2>Observations:</h2>
    <small>
    {% if observation_list %}
        <dl class="dl-horizontal">
        {% for observation in observation_list %}
          {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid"><ul class="thumbnails">{% endif %}
            <li class="span4">
              <div class="thumbnail organism {{ observation.organism.type|lower }} well well-small">
                {% if observation.observation_image %}<img src="{{ observation.wide_thumb.url }}" class="obs-image">{% else %}<img src="holder.js/179x89" class= "obs-image">{% endif %}
                <div class="caption">
                  <h5>{{ observation.organism.common_name }}</h5>
                  <p><em>{{ observation.organism.latin_name }}</em></p>
                  <p>{{ observation.observation_date }}</p>
                  <p><a class="btn btn-mini" href="{% url 'observation-detail' observation.id %}">View details »</a></p>
                </div>
              </div>
            </li>
          {% if forloop.last or forloop.counter|divisibleby:"3" %}</ul></div>{% endif %} 
        {% endfor %}
        </dl>
        {% include "nature/include_pagination.html" %}
    {% else %}
        <p>No observations are available.</p>
    {% endif %}
    </small>
{% if unknown_obs %}
<h2>Unknown Observations:</h2>
    <small>
        <dl class="dl-horizontal">
        {% for observation in unknown_obs %}
            <dt>{{ observation.observation_date }}</a></dt>
            <dd>{{ observation.comments}} Status: <strong>{{ observation.get_status_display }}</strong></dd>
        {% endfor %}
        </dl>
    </small>
{% endif %}
    <p><a class="btn btn-primary" href="{% url 'add-observation' %}"><i class="icon-plus icon-white"></i> New Observation</a></p>
    <span class="label label-info">Download all of your observations:</span> <a href="{% url 'export-observations' %}" class="btn btn-mini note2"><i class="icon-download-alt"></i></a>
{% endblock content %}
{% block right-span%}<div class="span6">{% endblock %}
{% block right-content %}
    {% if observation_list %}
    <div class="span10 offset2">
        <p class="alert alert-info">Observation Map</p>
    </div>
    {% with observation_list as map_observations %}
    {% include "nature/include_map.html" %}
        <div id="map_canvas" class="span12"></div>
    {% endwith %}
    {% endif %}
{% endblock right-content %}
