{% extends "nature/base.html" %}
{% block title %}Review Organism Changes{% endblock %}
{% block content %}
{% if perms.nature.add_orgidentificationreview %}
	{% if organism_count %}
		<p><span class="badge badge-info">{{ organism_count.total_pending }}</span> Organisms with <a href="{% url 'review-list' %}">pending changes.</a></p>
	{% endif %}
	{% if image_count %}
		<p><span class="badge badge-info">{{ image_count.total_pending }}</span> new images <a href="{% url 'review-image-list' %}">pending review.</a></p>
	{% endif %}
	{% if obs_count %}
		<p><span class="badge badge-info">{{ obs_count.total_pending }}</span> new observations <a href="{% url 'review-obs-list' %}">pending review.</a></p>
	{% endif %}
{% else %}
<p>I'm sorry, you are not authorized to moderate changes. Please contact the administrator for more information.</p>
{% endif %}
{% endblock content %}