{% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid"><ul class="thumbnails">{% endif %}
  <li class="span4">
    <div class="thumbnail organism {{ observation.organism.type|lower }} well well-small">
      {% if observation.observation_image %}<a href="{{ observation.observation_image.url }}" data-toggle="lightbox"><img src="{{ observation.wide_thumb.url }}" class="obs-image"></a>{% else %}<img src="holder.js/179x89" class= "obs-image">{% endif %}
      <div class="caption">
        <h5>{{ observation.organism.common_name }}</h5>
        <p><em>{{ observation.organism.latin_name }}</em></p>
        <p>{{ observation.observation_date }}</p>
        <p><a class="btn btn-mini" href="{% url 'observation-detail' observation.id %}">View details »</a></p>
      </div>
    </div>
  </li>
{% if forloop.last or forloop.counter|divisibleby:"3" %}</ul></div>{% endif %}