{% extends "somesmart/base.html" %}
{% block head %}
<head>
    <meta charset="utf-8">
    <title>{% block title %}Some Smart, Some Don't{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://somesmart.com/staticfiles/favicon.ico" />
    <link rel="stylesheet" href="http://somesmart.com/staticfiles/somesmart/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="http://somesmart.com/staticfiles/somesmart/css/bootstrap/custom.css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link rel="stylesheet" href="http://somesmart.com/staticfiles/somesmart/css/bootstrap/bootstrap-responsive.min.css">
    {% block app.css %}{% endblock %}
    <!-- this is the custom jquery ui bootstrap theme --> 
    <link rel="stylesheet" href="http://somesmart.com/staticfiles/somesmart/css/jquery-ui/jquery-ui-1.9.2.custom.css">
    <!--<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
</head>
{% endblock head %}
{% block content %}
<p class="alert alert-error">I'm sorry, but there doesn't appear to be anything here. If you are looking for something specific, try using the search box at the top, or you can always <a href="/contact/">contact us</a>.</p>
{% endblock %}