{% extends "nature/base.html" %}

{% block title %}Contact Us{% endblock title %}
{% block top-content %}
  <div class="row-fluid">
    <div class="well well-small span8 offset1">
    We appreciate any feedback you have to offer. Thanks for taking the time to make SpeSee a better place for everyone!
    </div>
  </div>
{% endblock %}
{% block content %}
    <form action="" method="post">
      {% csrf_token %}
     <table class="table table-striped table-hover">
       <tr>
       {% for field in form %}
       <tr>
         <th>{{ field.label_tag }} {% if field.field.required %}<span class="requ">*</span>{% endif %}</th>
         <td>{{ field.errors }}{{ field }}
           {% if field.help_text %}
           <p class="help_text">{{ field.help_text }}</p>
           {% endif %}
         </td>
       </tr>
       {% endfor %}
       <tr><th></th><td><input type="submit" class="btn" value="Submit"></td></tr>
     </table>
    </form>
  <p class="well well-small">You can also contact us directly on <a href="http://twitter.com/spesee">Twitter</a></p>    
{% endblock content %}