{% extends "nature/base_head.html" %}
{% block title %}Edit Your Group{% endblock title %}
{% block app.scripts %}
<script type ="text/javascript">
function deleteUser(item_id){
  $.ajax({
      type: "GET",
      url: "/delete/group/user/"+ item_id +"/",
      success: function(){
            $("." + item_id).remove();
          }
      });
  }
function addUser(group, user, username){
  $.ajax({
    type: "GET",
    url: "/add/group/" + group + "/user/" + user + "/2/",
    success: function(data){
      var new_user_id = data;
      var htmlData = "<tr class='" + new_user_id + "'><td>" + username + "</td><td>Invited</td><td><a href='#' class='btn btn-mini btn-danger'><i id='" + new_user_id + "' class='delete icon-remove icon-white'></i></a></td></tr>";
      $('#user_table').append(htmlData);
      //empty the selector field and focus on it
      $('#selector').val('');
      $('#selector').focus();
      //stops the form from refreshing the page like it normally would.
    }
  });
}
$(function() {
  $("#id_group").parent().parent().hide();
  $("#add_group").hide();
  $("#selector").autocomplete({
      source: "{% url 'autocomplete' %}?search=user",
      minLength: 3,
      select: function(event, ui) {
        $('#user_id').val(ui.item.id);
        $('#username').val(ui.item.label);
      }
    });

  $("#user_table").on("click", ".delete", function(event){ 
    var item_id = event.target.id;
    deleteUser(item_id);
  });

  $("#add_user").click(function(e){ 
    //get the autocomplete values for use below
    var user = $('#user_id').val();
    var username = $('#username').val();
    var group = $('#group_id').val();
    addUser(group, user, username);    
    e.preventDefault();
  }); 
  $('.note').tooltip({ title: 'Remove this user', placement: 'right' });
});
</script>
{% endblock %}
{% block body %}
{% if perms.nature.add_group %}
  {% block content %}
    <h3>Edit your group</h3>
    <form action="" method="post">
      <div class="form-row">
        {{ form.title.label_tag }}
        {{ form.title }}
        {{ form.title.errors }}
      </div>
    <table class="table">
      {{ form.as_table }}
    </table>
    <div class="submit-row">
      {% csrf_token %}
      <input type="submit" value="Update Group Name" class="submit" />
    </div>
    </form>
    <h3>Add Group Members</h3>
    <form action="#" id="autocomplete_form" class="form-search">
          <input type="text" id="selector" name="selector"/>
          <input type="hidden" id="user_id" name="user_id" />
          <input type="hidden" id="group_id" name="group_id" value="{{ group.id }}" />
          <input type="hidden" id="username" name="username" />
          <input type="submit" value="Invite" id="add_user" />
        </form>
        <table id="user_table" class="table">
          <tr>
            <th>Username</th>
            <th>Group Status</th>
            <th>Remove User</th>
          </tr>
            {% for x in detail_list %}
              <tr class="{{ x.id }}">
                <td>{{ x.user.username }}</td>
                <td>{% if x.status == 2 %}Invited{% else %}Member{% endif %}</td>
                <td><a href="#" class="btn btn-mini btn-danger"><i id="{{ x.id }}" class="delete icon-remove icon-white note"></i></a></td>
              </tr>
            {% endfor %}
        </table>
  {% endblock %}
{% else %}
  <p>I'm sorry, you are not authorized to update this list. Please contact the administrator for more information.</p>
{% endif %}
{% endblock %}