{% extends "nature/base.html" %}
{% block title %}{{ location.name }} Location Details{% endblock title %}
{% block content-span%}<div class="span4 offset1">{% endblock %}
{% block content %}
<h3>{{ location.name }} - <a class="btn" href="{{ location.get_edit_url }}"><i class="icon-wrench"></i></a></h3>
{{ location.description|safe }}
    <div id="org_list">
    	<h3>Location Finds:</h3>
		    <ul class="unstyled">
		    	{% for observation in location_details %}
		    		<li><a href="{% url 'organism-view' observation.organism %}{{ observation.organism__common_name|slugify }}">{{ observation.organism__common_name }} ({{ observation.organism__latin_name }}) - {{ observation.id__count }}</a></li>
		    	{% endfor %}
		    </ul>
	</div>
{% endblock content %}
{% block right-span%}<div class="span7">{% endblock %}
{% block right-content %}
    <div class="span10 offset1">
      <p class="alert alert-info">Map items in blue are those you have already found. Red icons have been sighted by others.</p>
    </div>
    {% include "nature/include_map.html" %}
    <div id="map_canvas" class="span12"></div>
{% endblock right-content %}