<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}SpeSee{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
    <link rel="stylesheet" href="{{ STATIC_URL }}nature/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}nature/css/bootstrap/custom.css">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}nature/css/bootstrap/bootstrap-responsive.min.css">
    {% block app.css %}{% endblock %}
    <!-- this is the custom jquery ui bootstrap theme --> 
    <link rel="stylesheet" href="{{ STATIC_URL }}nature/css/jquery-ui/jquery-ui-1.9.2.custom.css">
    <!--<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<html>
<body>
{% block body %}{% endblock %}
<!-- Placed at the end of the document so the pages load faster -->
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/bootstrap/bootstrap.min.js"></script>
    {% block app.scripts %}{% endblock %}
    {% block base.scripts %}{% endblock %}
    {% block map.scripts %}{% endblock %}
</body>
</html>  