{% extends "nature/base.html" %}
{% block title %}My Custom Lists{% endblock %}
{% block app.scripts %}
<script type ="text/javascript">
function deleteItem(item_id){
  $.ajax({
      type: "GET",
      url: "/delete/list/"+ item_id +"/",
      success: function(data){
            $("." + item_id).remove();
          }
      });
  }
$(function() {
  $('.delete').click(function(event){ 
    //alert(event.target.id);
    var list_id = event.target.id;
    if (confirm('Are you sure you want to delete this list? This cannot be undone.')) {
      deleteItem(list_id);
    }
  });
});
$('.note_delete').tooltip({ title: 'Delete List', placement: 'right' });
$('.note_edit').tooltip({ title: 'Edit List', placement: 'right' });
$('.note_copy').tooltip({ title: 'Copy List', placement: 'right' });
</script>
{% endblock %}
{% block content %}
<h2>My custom lists:</h2>
{% if course_list %}
    <ul>
    {% for course in course_list %}
        <li class="{{ course.id }}"><a href="{{ course.get_absolute_url }}">{{ course.course_name }}</a> - {{ course.course_descr }} <a class="btn btn-mini note_edit" href="{{ course.get_edit_url }}"><i class="icon-edit"></i></a> <a class="btn btn-mini btn-danger note_delete" href="#"><i id="{{ course.id }}" class="delete icon-remove icon-white"></i></a> <a class="btn btn-mini note_copy" href="{% url 'list-copy' course.id %}"><i class="icon-share"></i></a></li>
        {% comment %}
        need to add a way to get the percent complete for the course at a later date
        <div class="completion thin">
          <div style="width: 17%;"></div>
          <p class="loaded"><span>17%</span> complete</p>
        </div>
        {% endcomment %}
    {% endfor %}
    </ul>
{% else %}
    <p>You have not created any custom lists yet. Click the link below to create your first list!</p>
{% endif %}
 <p><a class="btn btn-primary" href="{% url 'list-add' %}"><i class="icon-plus icon-white"></i> New List</a></p>
 <h2>My Group Lists:</h2>
{% if member_of %}
    <ul>
    {% for course in member_of %}
        <li class="{{ course.id }}"><a href="{{ course.get_absolute_url }}">{{ course.course_name }}</a> - {{ course.course_descr }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>You are not yet a member of any group lists</p>
{% endif %}
{% endblock content %}