{% extends "nature/base.html" %}
{% block app.css %}
<link rel="stylesheet" href="{{ STATIC_URL }}nature/css/colorbox/colorbox.css">
{% endblock %}
{% block title %}Edit Your List {% endblock title %}
{% block app.scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/colorbox/jquery.colorbox-min.js"></script>
<script type ="text/javascript">
function deleteItem(item_id){
  $.ajax({
      type: "GET",
      url: "/delete/list/item/"+ item_id +"/",
      success: function(){
            $("." + item_id).remove();
          }
      });
  }
function addItem(course, organism, common_name){
  $.ajax({
    type: "GET",
    url: "/add/list/" + course + "/item/" + organism + "/",
    success: function(data){
      var new_item_id = data;
      var htmlData = "<tr class='" + new_item_id + "'><td>" + common_name + "</td><td><a href='#' class='btn btn-danger btn-mini note'><i id='" + new_item_id + "' class='delete icon-remove icon-white'></i></a></td></tr>";
      $('#org_table').append(htmlData);
      //empty the selector field and focus on it
      $('#selector').val('');
      $('#selector').focus();
      //stops the form from refreshing the page like it normally would.
    }
  });
}
$(function() {
  {% if not course.is_group %}
  $("#id_group").parent().parent().hide();
  $("#current_group").hide();
  $("#add_group").hide();
  {% endif %}
  $("#selector").autocomplete({
      source: "{% url 'autocomplete' %}?search=organism",
      minLength: 3,
      select: function(event, ui) {
        $('#organism_id').val(ui.item.id);
        $('#common_name').val(ui.item.label);
      }
    });

  $("#org_table").on("click", ".delete", function(event){ 
    var item_id = event.target.id;
    deleteItem(item_id);
  });

  $("#add_organism").click(function(e){ 
    //get the autocomplete values for use below
    var organism_id = $('#organism_id').val();
    var common_name = $('#common_name').val();
    var course_id = $('#course_id').val();
    addItem(course_id, organism_id, common_name);    
    e.preventDefault();
  }); 
  $("#id_is_group").change(function(e){
    if (this.checked) {
      $("#id_group").parent().parent().show();
      $("#add_group").show();
    }
    else {
      $("#id_group").parent().parent().hide();
      $("#add_group").hide();
    }
  });
  $(".ajax").colorbox({height:"650px", width:"565px", iframe:true, onClosed:function(){window.location.reload();}});
  $('.note').tooltip({ title: 'Remove this organism', placement: 'right' });
});
</script>
{% endblock %}

{% block content %}
  {% if course.user.id == user.id %} 
    {% if perms.nature.add_course %}
        <h3>Edit your custom list</h3><a href="{{ course.get_absolute_url }}">Back to the list</a>
        <form action="" method="post" class="form-horizontal">
          <div class="form-row">
            {{ form.title.label_tag }}
            {{ form.title }}
            {{ form.title.errors }}
          </div>
        <table class="table">
          {{ form.as_table }}
           <tr id="current_group">
            <th><label for "current_group">Current Group:</label></th>
            <td><a href="{{ course.group.get_absolute_url }}{{ course.group|slugify }}">{{ course.group }}</a></td>
          </tr>
           <tr >
            <th><label for="id_group">Change Group:</label></th>
            <td>
              <select id="id_group" name="group">
                <option selected="selected" value"">---------</option>
                {% for group in group_list %}
                  <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
              </select>
              <a id="add_group" class="ajax cboxElement btn" href="{% url 'group-add' %}">Create Group</a>
            </td>
          </tr>
          {% csrf_token %}
          <tr>
            <td><input type="submit" value="Update List Setup" class="submit btn" /></td>
          </tr>
        </table>
        </form>
        <form action="#" id="autocomplete_form" class="form-horizontal">
          <input type="text" id="selector" name="selector"/>
          <input type="hidden" id="organism_id" name="organism_id" />
          <input type="hidden" id="course_id" name="course_id" value="{{ course.id }}" />
          <input type="hidden" id="common_name" name="common_name" />
          <input type="submit" value="Add Organism" id="add_organism" class="btn" />
        </form>
        <table id="org_table" class="table">
            {% for x in detail_list %}
              <tr class="{{ x.id }}">
                <td>{{ x.organism }}</td>
                <td><a href="#" class="btn btn-danger btn-mini note"><i id="{{ x.id }}" class="delete icon-remove icon-white"></i></a></td>
              </tr>
            {% endfor %}
        </table>
      {% else %}
        <p>I'm sorry, you are not authorized to update this list. Please contact the administrator for more information.</p>
      {% endif %}
  {% else %}  
    <p>I'm sorry, you are not authorized to edit this list. Please contact the administrator for more information, or try a different list</p>
  {% endif %}
{% endblock %}