{% extends "nature/base.html" %}
{% load url from future %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input class="btn btn-small" type="submit" value="Sign In" />
<input type="hidden" name="next" value="/observation/" />
</form>

<a class="btn btn-small" href="{% url 'registration_register' %}">Register a New Account</a>
{% endblock %}