{% extends "nature/base.html" %}
{% block title %}Observations{% endblock %}
{% block content %}
{% if search_by.search_by == 'observation' %}
<p class="alert alert-success">Click on your current location to see what has been observed nearby.</p>
    <form action="#list" class="form-inline" method="get">
        <fieldset>
            <label>Latitude:</label>
            <input class="input-medium" id="id_latitude" type="text" name="latitude">
            <label>Longitude:</label>
            <input class="input-medium" id="id_longitude" type="text" name="longitude">
            <button id="search" type="submit" class="btn btn-small">Search</button>
        </fieldset>
    </form>
    <div id="observations"></div>
    <div id="map_canvas"></div>
    {% include 'nature/include_lookup_map.html' %}
    {% if discover_list %}
    <hr id="list">
    <br>
    <p class="alert alert-info">Click the Organism type below to remove them from the list</p>
    <div class="pagination">
        <ul id="removable" class="navbar navbar-inverse">
          {% regroup discover_list by organism.type as type_list %}
          {% for type in type_list %}
            <li><a href="#remove" data-option-value=".{{ type.grouper|lower }}">{{ type.grouper }}</a></li>
          {% endfor %}
        </ul>
    </div>
        <div id="container">
          {% for observation in discover_list %}
            {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid"><ul class="thumbnails">{% endif %}
              <li class="span4">
                <div class="thumbnail organism {{ observation.organism.type|lower }} well well-small">
                    {% if observation.observation_image %}<img src="{{ observation.wide_thumb.url }}" class="obs-image">
                    {% else %}<img src="holder.js/179x89" class= "obs-image">{% endif %}
                    <div class="caption">
                      <h5>{{ observation.organism.common_name }}</h5>
                      <small>
                      <p>{{ observation.observation_date}}</p>
                      <p><em>{{ observation.organism.latin_name }}</em></p>
                      <p>Type: {{ observation.organism.type }}</p>
                      </small>
                      <p><a class="btn btn-mini" href="{% url 'observation-detail' observation.id %}">View details »</a></p>
                    </div>
                </div>
              </li>
              {% if forloop.last or forloop.counter|divisibleby:"3" %}</ul></div>{% endif %} 
            {% endfor %}
        </div>    
    {% endif %} {# end discover_list #}
{% endif %} {# end if search.by #}
{% if search_by.search_by == "organism" %}
  <form action="#list" class="form-inline" method="get">
    <fieldset>
        <p class="alert alert-success">Enter identification information to browse matching organisms</p>
        <label>Search:</label>
        <input class="input-xlarge" id="id_q" type="text" name="q">
        <button id="search" type="submit" class="btn btn-small">Search</button>
    </fieldset>
  </form>
  {% if discover_list %}
    <hr id="list">
    <br>
    <p class="alert alert-info">Click the Organism type below to remove them from the list</p>
    <div class="pagination">
        <ul id="removable" class="navbar navbar-inverse">
          {% regroup discover_list|dictsort:"object.organism.type.id" by object.organism.type as type_list %}
          {% for type in type_list %}
            <li><a href="#remove" data-option-value=".{{ type.grouper|lower }}">{{ type.grouper }}</a></li>
          {% endfor %}
        </ul>
    </div>
    <div id="container">
        {% for organism in discover_list %}
          {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid"><ul class="thumbnails">{% endif %}
            <li class="span4">
              <div class="thumbnail organism {{ organism.object.organism.type|lower }} well well-small">
              {% for images in organism.object.organism.images_set.all %}
                {% if images.primary_image %}<img src="{{ images.wide_thumb.url }}" class="obs-image">{% endif %}
                {% empty %}<img src="holder.js/179x89" class= "obs-image">
              {% endfor %}
                <div class="caption">
                  <h5>{{ organism.object.organism.common_name }}</h5>
                  <p><em>{{ organism.object.organism.latin_name }}</em></p>
                  <p>Type: {{ organism.object.organism.type }}</p>
                  <p><a class="btn btn-mini" href="{{ organism.object.get_absolute_url }}">View details »</a></p>
                </div>
              </div>
            </li>
          {% if forloop.last or forloop.counter|divisibleby:"3" %}</ul></div>{% endif %} 
        {% endfor %}
    </div>
  {% endif %}
{% endif %}
{% endblock content %}
{% block app.scripts %}
<script src="{{ MEDIA_URL }}js/holder/holder.js"></script>
<script>
    $(function(){
      $('#removable a').click( function( jQEvent ) {
        var selector = $(this).attr('data-option-value');
        $(selector).fadeOut("slow", function() {
          $(this).remove();
        });
        jQEvent.preventDefault();
      });
    });
  </script>
{% endblock app.scripts %}