{% extends "nature/base.html" %}
{% block title %}Observations{% endblock %}
{% block app.scripts %}
<script>
$(function() {
    $('.note').tooltip({ title: 'Edit this observation', placement: 'right' });
    $('.note2').tooltip({ title: 'Click to download all your observations', placement: 'right' });
});
</script>
{% endblock %}
{% block content-span%}<div class="span5 offset1">{% endblock %}
{% block content %}
<h2>Observations:</h2>
    <small>
    {% if observation_list %}
        <dl class="dl-horizontal">
        {% for observation in observation_list %}
            <dt><a href="{{ observation.get_absolute_url }}">{{ observation.organism }}</a></dt>
            <dd>{{ observation.observation_date}} - Type: {{ observation.organism.type }} <a class="btn btn-mini note" href="{{ observation.get_edit_url }}"><i class="icon-wrench"></i></a></dd>
        {% endfor %}
        </dl>
    {% else %}
        <p>No observations are available.</p>
    {% endif %}
    </small>
{% if unknown_obs %}
<h2>Unknown Observations:</h2>
    <small>
        <dl class="dl-horizontal">
        {% for observation in unknown_obs %}
            <dt>{{ observation.observation_date }}</a></dt>
            <dd>{{ observation.comments}} Status: <strong>{{ observation.get_status_display }}</strong></dd>
        {% endfor %}
        </dl>
    </small>
{% endif %}
    <p><a class="btn btn-primary" href="{% url 'add-observation' %}"><i class="icon-plus icon-white"></i> New Observation</a></p>
    <span class="label label-info">Download all of your observations:</span> <a href="{% url 'export-observations' %}" class="btn btn-mini note2"><i class="icon-download-alt"></i></a>
{% endblock content %}
{% block right-span%}<div class="span6">{% endblock %}
{% block right-content %}
    {% if observation_list %}
    <div class="span10 offset2">
        <p class="alert alert-info">Observation Map</p>
    </div>
    {% with observation_list as map_observations %}
    {% include "nature/include_map.html" %}
        <div id="map_canvas" class="span12"></div>
    {% endwith %}
    {% endif %}
{% endblock right-content %}