{% extends "nature/base.html" %}
{% block title %}About SpeSee{% endblock title %}
{% block content %}
<h3>What is SpeSee?</h3>
	<p>At its core, there are 2 goals of SpeSee:</p>
	<h4>To create a user edited field guide</h4>
		<p>There are numerous places on the web that have excellent, detailed information on identifying various different kinds of organisms. However, I have always found these sites to be either difficult to use, or too hard to understand for the "backyard naturalist". So, if everything goes as planned, SpeSee will be a place that users can go to in order to find practical, straightforward information on how to identifying whatever it was they just saw, be it a bird, tree, mammal, reptile, or amphibian. Furthermore, as users develop their own tips on identifying those similar species, they can add them to the site.
	<h4>To facilitate the tracking of user organism observations</h4>
		<p>Again, while there may be some other sites that can facilitate "life lists", I haven't found any with the functionality of SpeSee, nor ones that tie directly into the field guide aspect of the site. Hopefully you will find creating lists, tracking observations, and sharing your lists with others to be a fun and useful experience.</p>
<h3>How do I use it?</h3>
	<p>For a great primer on how to use the site, see the blog posts on <a href="http://spesee.org/blog/categories/using-spesee/">using SpeSee</a> or any of the following post:</p>
	<ul class="unstyled">
		<li><a href="">Post about editing identifications info here (coming soon).</li>
		<li><a href="http://spesee.org/blog/2013/01/23/entering-observations/">Entering observations</li>
		<li><a href="">Post about creating lists/groups here (coming soon).</li>
	</ul>
{% endblock content %}
{% block right-content %}
    <div class="span10 offset1">
      <p class="well well-small">Have additional questions or comments? Contact us on <a href="http://twitter.com/spesee">twitter.</a></p>
    </div>
{% endblock right-content %}