{% extends "nature/base.html" %}

{% block title %}Edit your Location{% endblock title %}
{% block app.scripts %}
<!-- Load TinyMCE -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
  mode: "textareas",
  theme: "simple"
});
</script>
<!-- /TinyMCE -->
{% endblock %}

{% block content %}
  {% if location.created_by.id == user.id %} 
    {% if perms.nature.add_location %}
    <form action="" method="post">
      {% csrf_token %}
     <table>
       {% for field in form %}
       <tr>
         <th>{{ field.label_tag }} {% if field.field.required %}<span class="requ">*</span>{% endif %}</th>
         <td>{{ field.errors }}{{ field }}
           {% if field.help_text %}
           <p class="help_text">{{ field.help_text }}</p>
           {% endif %}
         </td>
       </tr>
       {% endfor %}
       <tr><th></th><td><input type="submit" class="btn" value="Submit"></td></tr>
     </table>
    </form>
    {% else %}
      <p>sorry, no permissions</p>
    {% endif %}
  {% else %}
    <p>I'm sorry, you are not authorized to edit this observation. Please contact the administrator for more information, or try a different observation.</p>
  {% endif %}
{% endblock content %}
{% block right-content %}
{% if location.created_by.id == user.id %} 
  <div class="span10 offset1">
    <p class="alert alert-info">Click where you would like to center this location.</p>
  </div>
  <div id="map_canvas" class="span11" ></div>
  {% include 'nature/include_lookup_map.html' %}
{% endif %}
{% endblock %}