{% extends "nature/base.html" %}

{% block title %}Organism Review{% endblock title %}
{% block top-content %}
    <div class="container-fluid">
      <div class="row-fluid">
        {% if perms.nature.add_orgidentificationreview %}
        <div class="span6">
        {% if current %}
          <h3>Current Identification:</h3>
          <div class="content">{{ current.identification|safe }}</div>
        {% endif %}
        </div>
        <div class="span6">
          {% if new_values and not unknown_obs %}
            <h3>New Identification:</h3>
            <div class="content">{{ new_values.identification|safe }}</div>
          {% endif %}
        </div>
      </div>
      <hr>
      <h3>Moderation:</h3>
      <div class="row-fluid">
        <div class="span8 offset2">
          <form action="" method="post">
            {% csrf_token %}
           <table class="table">
              {% if new_values and not new_image and not unknown_obs %}
              <tr>
                <th>Organism</th>
                <td id="id_organism" style="display:none">{{ new_values.organism.id }}</td>
                <td id="organism">{{ new_values.organism }}</td>
              </tr>
              <tr>
                <td id="id_identifiction" style="display:none" class="content">{{ new_values.identification|safe }}</td>
              </tr>
              {% endif %}
              {% if new_image %}
              <tr>
                <td id="id_review_image" style="display:none">{{ new_values.images.id }}</td>
                <td id="review_image" style="display:none">{{ new_values.images.id }}</td>
              </tr>
              <tr>
                <th>Image</th>
                <td><img src="{{ new_values.review_image.org_image.url }}"></td>
              {% endif %}
              {% if primary_image %}
              <tr>
                <td>current Primary Image:</td>
                <td><img src="{{ primary_image.org_image.url }}"></td>
              </tr>
              {% endif %}
              {% if unknown_obs %}
              <tr>
                <th>
                  <label for="id_organism">Organism</label>
                  <span class="requ">*</span>
                </th>
                <td>
                  <input id="id_organism" type="hidden" value="" name="organism">
                  <input id="common_name" type="text" name="common_name" value="">
                </td>
              </tr>
              <tr>
                <td>Seen by:</td>
                <td>{{ new_values.user }}</td>
              </tr>
              <tr>
                <td>On:</td>
                <td>{{ new_values.observation_date }}</td>
              </tr>
              <tr>
                <td>Temperature:</td>
                <td>{{ new_values.temperature }}</td>
              </tr>
              <tr>
                <td>Latitude:</td>
                <td>{{ new_values.latitude }}</td>
              </tr>
              <tr>
                <td>Longitude:</td>
                <td>{{ new_values.longitude }}</td>
              </tr>
              <tr>
                <td>Comments:</td>
                <td>{{ new_values.comments }}</td>
              </tr>
              <tr>
                <td>Location Description:</td>
                <td>{{ new_values.location_descr }}</td>
              </tr>
              <tr>
                <td>Quantity:</td>
                <td>{{ new_values.quantity }}</td>
              </tr>
              {% endif %}
              <tr>
                <th><label>Modified by: </label></th>
                <td id="id_modified_by">{{ new_values.modified_by }}</td>
              </tr>
              <tr>
                <th><label>Modified Date: </label></th>
                <td id="id_modified_date">{{ new_values.modified_date }}</td>
              </tr>
            </tr>
             {% for field in form %}
             <tr class="content">
               <th>{{ field.label_tag }} {% if field.field.required %}<span class="requ">*</span>{% endif %}</th>
               <td>{{ field.errors }}{{ field }}
                 {% if field.help_text %}
                 <p class="help_text">{{ field.help_text }}</p>
                 {% endif %}
               </td>
             </tr>
             {% endfor %}
             <tr><th></th><td><input type="submit" value="Submit"></td></tr>
           </table>
          </form>
        </div>
        {% else %}
        <p>I'm sorry, you do not have the required permissions.</a></p>
        {% endif %}
      </div>
    </div>
{% endblock top-content %}
{% block app.scripts %}
<script type="text/javascript">
$(function() {
  $("#common_name").autocomplete({
    source: "{% url 'autocomplete' %}?search=organism",
    minLength: 3,
    select: function(event, ui) {
      $('#id_organism').val(ui.item.id);
      $('#common_name').val(ui.item.label);
    }
  });
});
</script>
{% endblock %}