{% extends "nature/base.html" %}

{% block title %}Add a New Location{% endblock title %}
{% block app.scripts %}
<!-- Load TinyMCE -->
<script type="text/javascript" src="{{ MEDIA_URL }}js/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
  mode: "textareas",
  theme: "simple"
});
</script>
<!-- /TinyMCE -->
{% endblock %}
{% block top-content %}
  <div class="row-fluid">
    <div class="well well-small span8 offset1">
    Locations are meant to help you monitor the observations that are found within a specific area, without having to tag each observation with a specific location. Instead, you simply define how many miles wide a location is, how many miles tall, and the center point of it. Thus, any observations that fall within that bounding box will be included as a part of that location.
    </div>
  </div>
{% endblock %}
{% block content %}
  {% if perms.nature.add_location %} 
    <form action="" method="post">
      {% csrf_token %}
     <table class="table table-striped table-hover">
       <tr>
       {% for field in form %}
       <tr>
         <th>{{ field.label_tag }} {% if field.field.required %}<span class="requ">*</span>{% endif %}</th>
         <td>{{ field.errors }}{{ field }}
           {% if field.help_text %}
           <p class="help_text">{{ field.help_text }}</p>
           {% endif %}
         </td>
       </tr>
       {% endfor %}
       <tr><th></th><td><input type="submit" class="btn" value="Submit"></td></tr>
     </table>
    </form>
  {% else %}
    <p>I'm sorry, you do not have the require permissions.</a></p>
  {% endif %}
{% endblock content %}
{% block right-content %}
  <div class="span10 offset1">
    <p class="alert alert-info">Click where you would like to center this location.</p>
  </div>
  <div id="map_canvas" class="span11" ></div>
  {% include 'nature/include_lookup_map.html' %}
{% endblock %}