{% extends "nature/base.html" %}
{% block app.css %}
<link rel="stylesheet" href="{{ STATIC_URL }}nature/css/colorbox/colorbox.css">
{% endblock %}
{% block title %}Create Your List {% endblock title %}
{% block app.scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/colorbox/jquery.colorbox.js"></script>
<script type="text/javascript">
function updateOption(user_id){
  $.ajax({
      type: "GET",
      url: "/group/user/"+ user_id +"/",
      success: function(data){
            $("#id_group").empty().append(data);
          }
      });
  }
$(function() {
    $("#id_group").parent().parent().hide();
    $("#add_group").hide();
    $("#selector").autocomplete({
      source: "{% url 'autocomplete' %}?search=organism",
      minLength: 3,
      select: function(event, ui) {
        $('#organism_id').val(ui.item.id);
        $('#common_name').val(ui.item.label);
      }
    });
    var rowID;
    //set the starting value at 0
    rowID = 0;

    $("#add_organism").click(function(e){ 
      //get the autocomplete values for use below
      var organism_id = $('#organism_id').val();
      var common_name = $('#common_name').val();
      //generate the new formset html
      var htmlData = "<tr><th><label for='id_course_details-" + rowID +"-organism'>Organism:</label></th><td><input type='hidden' name='course_details-" + rowID + "-organism' id='id_course_details-" + rowID + "-organism' value='" + organism_id + "'>" + common_name + "</td><td><label for='id_course_details-" + rowID + "-DELETE'>Delete:</label><input type='checkbox' name='course_details-" + rowID + "-DELETE' id='id_course_details-" + rowID + "-DELETE' /><input type='hidden' name='course_details-" + rowID + "-course' id='id_course_details-" + rowID + "-course' /></td></tr>";
      $('#coursedetail_form').append(htmlData);
      //increment the formid
      rowID++;
      //update the total forms amount
      $('#id_course_details-TOTAL_FORMS').val(rowID);
      //empty the selector field and focus on it
      $('#selector').val('');
      $('#selector').focus();
      //stops the form from refreshing the page like it normally would.
      e.preventDefault();
    }); 
    $("#id_is_group").change(function(e){
      if (this.checked) {
        $("#id_group").parent().parent().show();
        $("#add_group").show();
      }
      else {
        $("#id_group").parent().parent().hide();
        $("#add_group").hide();
      }
    });
    $(".ajax").colorbox({height:"650px", width:"565px", iframe:true, onClosed:function(){ 
      parent.updateOption({{ user.id }});
      }
    });
  });
</script>
{% endblock %}

{% if perms.nature.add_coursedetail %}
  {% block content %}
    <h3>Create your custom list</h3>
    <p>Note that while only you will be able to edit this list in the future, others will be able to pull it up and compare their own observations against the list.</p>
    <form action="" method="post" class="form-horizontal">
      <div class="form-row">
        {{ form.title.label_tag }}
        {{ form.title }}
        {{ form.title.errors }}
      </div>
    <table class="table">
      {{ form.as_table }}
      <tr>
        <th><label for="id_group">Group:</label></th>
        <td>
          <select id="id_group" name="group">
            <option selected="selected" value"">---------</option>
            {% for group in group_list %}
              <option value="{{ group.id }}">{{ group.name }}</option>
            {% endfor %}
          </select>
          <a id="add_group" class="ajax cboxElement btn btn-primary" href="{% url 'group-add' %}"><i class="icon-plus icon-white"></i> Group</a>
        </td>
      </tr>
    </table>
    <fieldset class="">      
      <legend>Organisms in the list:</legend>
      <input type="text" id="selector" name="selector" size="50px"/>
      <input type="hidden" id="organism_id" name="organism_id" />
      <input type="hidden" id="common_name" name="common_name" />
      <input type="submit" value="Add Organism" class="btn" id="add_organism" />
      <input type="hidden" name="course_details-TOTAL_FORMS" value="0" id="id_course_details-TOTAL_FORMS" /><input type="hidden" name="course_details-INITIAL_FORMS" value="0" id="id_course_details-INITIAL_FORMS" /><input type="hidden" name="course_details-MAX_NUM_FORMS" id="id_course_details-MAX_NUM_FORMS" />
      <table class="table coursedetail_form" id="coursedetail_form">
      </table>
    </fieldset>
    <div class="submit-row">
      {% csrf_token %}
      <input type="submit" value="Create List" class="submit btn btn-primary pull-right" />
    </div>
    </form>
  {% endblock %}
{% else %}
  <p>I'm sorry, you are not authorized to update this list. Please contact the administrator for more information.</p>
{% endif %}