{% extends "nature/base_head.html" %}
{% block app.scripts %}
<script type="text/javascript">
function getInvites(){
  $.ajax({
      type: "GET",
      url: "{% invite-count user.id %}",
      success: function(data){
        var count = data.total_invites;
        if (count > 0){
            $("#invites").empty().append("(" + count + ")");
        }
      }
    });
  }
$(function() {
    getInvites();
  });
</script>
{% endblock %}
{% block body %}
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <div class="header-container">
        <header class="clearfix">
            <a href="/"><h1 class="title">{% block header_title %}SpeSee{% endblock %}</h1></a>
            <nav>
                <ul>{% block navigation %}
                    <li><a href="/search/">Search</a></li>
                    <li><a href="/list/">Lists</a></li>
                    <li><a href="/observation/">Finds</a></li>
                    <li><a href="/stats/">Stats</a></li>
                {% endblock %}</ul>
            </nav>
        </header>
    </div>
    <div class="main-container">
        <div class="main wrapper clearfix">
            <article>
                {% block content %}{% endblock %}
            </article>
            <aside class="user">
                <h3>{% block aside_title %}{% endblock %}</h3>
                {% block userprofile %}
                {% if user.is_authenticated %}
                    Welcome, {{ user.username }}.
                    <ul class="user_list">
                        <li><a href="/accounts/profile/{{ user.username }}/">User Profile</a></li>
                        <li><a href="/add/observation/"> Add a Find</a></li>
                        <li><a href="/add/list/">Create a List</a></li>
                        <li><a href="/group/">My Groups</a></li>
                        <li><a href="/accounts/invites/">Pending Invitations<span id="invites">(0)</span></a></li>
                        <li><a href="{% url account-logout %}"> Logout</a></li>
                    </ul>
                {% else %}
                    <p>Welcome, new user. Please <a href="{% url account-login %}">log in.</a></p>
                {% endif %}
                {% endblock userprofile %}
                {% block aside_content %}{% endblock %}
            </aside>
            {% block aside_map %}
                {% block map %}{% endblock map %}
                {% block loadmap %}{% endblock loadmap %}
            {% endblock aside_map %}
            {% block aside_image %}
            {% endblock aside_image%}
        </div>
    </div>
    <div class="footer-container">
        <footer class="wrapper">
            <a href="http://www.djangoproject.com/"><img src="https://www.djangoproject.com/m/img/badges/djangoproject120x25.gif" border="0" alt="A Django project." title="A Django project." /></a>
        </footer>
    </div>

    <script src="{{ MEDIA_URL }}js/main.js"></script>

    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
{% endblock %}