{% extends "nature/base.html" %}
{% block title %}Tag Search{% endblock title %}
{% block content %}
<h3>Tag search results:</h3>
{% if organism_list %}
<div class="media">
    {% for organism in organism_list %}
      {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid"><ul class="thumbnails">{% endif %}
        <li class="span4">
          <div class="thumbnail organism {{ organism.organism.type|lower }} well well-small">
          {% for images in organism.images_set.all %}
            {% if images.primary_image %}<img src="{{ images.wide_thumb.url }}" class="obs-image">{% endif %}
			{% empty %}<img src="holder.js/179x89" class= "obs-image">            	
          {% endfor %}
            <div class="caption">
              <h5>{{ organism.common_name }}</h5>
              <p><em>{{ organism.latin_name }}</em></p>
              <p><a class="btn btn-mini" href="{{ organism.get_absolute_url }}">View details »</a></p>
            </div>
          </div>
        </li>
      {% if forloop.last or forloop.counter|divisibleby:"3" %}</ul></div>{% endif %} 
    {% endfor %}
</div>
{% else %}
    <p>No organisms found.</p>
{% endif %}
{% endblock content %}
{% block app.scripts %}
<script src="{{ MEDIA_URL }}js/holder/holder.js"></script>
{% endblock %}