{% extends "nature/base.html" %}
{% block app.css %}
<link rel="stylesheet" href="{{ STATIC_URL }}nature/css/colorbox/colorbox.css">
{% endblock %}
{% block title %}Group Details{% endblock title %}
{% block app.scripts %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/colorbox/jquery.colorbox.js"></script>
<script type ="text/javascript">
function addUser(group, user){
  $.ajax({
    type: "GET",
    url: "/add/group/" + group + "/user/" + user + "/1/",
    success: function(data){
      $("#top-content").html("<div class='offset1 span3 alert alert-success'>Thank you for joining! <a href='#'' class='close' data-dismiss='alert'>×</a></div>").fadeIn('slow');
    }
  });
}
$(function() {
  jQuery(".ajax").colorbox({height:"650px", width:"565px", iframe:true});
  $("#add_user").click(function(e){ 
    //get the autocomplete values for use below
    var user = {{ user.id }};
    var group = {{ group.id }};
    addUser(group, user);    
    e.preventDefault();
  }); 
});
</script>
{% endblock %}
{% block top-content %}<div id="top-content" class="row-fluid"></div>{% endblock %}
{% block content %}
{% if group.owner.id != user.id and user not in detail_list and group.private %}
      <p>I'm sorry, you are not authorized to see this group</p>
{% else %}
  <h1>{{ group.name }}</h1>
  {% if group.owner.id == user.id %} 
  <a class="ajax colorBox btn" href="{% url group-edit group.id %}"><i class="icon-wrench"> </i>Edit Group</a>
  {% endif %}
  <table id="user_table" class="table">
    <tr>
      <th>Username</th>
      <th>Group Status</th>
    </tr>
      {% for x in detail_list %}
        <tr class="{{ x.id }}">
          <td>{{ x.user.username }}</td>
          <td>{% if x.status == 2 %}Invited{% else %}Member{% endif %}</td>
        </tr>
      {% endfor %}
  </table>
  {% if group.owner.id != user.id and user not in detail_list %}
    <a id="add_user" class="btn btn-primary pull-right" href="#">Join this Group</a> 
  {% endif %}
  {% if group_lists %}
    <h1>Group lists:</h1>
      <ul>
      {% for course in group_lists %}
        <li><a href="{{ course.get_absolute_url }}">{{ course.course_name }}</a></li>
      {% endfor %}
  {% endif %}
{% endif %}
{% endblock content %} 