{% extends "nature/base.html" %}

{% block title %}User Profile{% endblock title %}
{% block app.scripts %}
<script type="text/javascript">
     $(function() {
          $("#zip_code").autocomplete({
            source: "{% url 'autocomplete' %}?search=zip",
            minLength: 3,
            select: function(event, ui) {
              $('#id_zipcode').val(ui.item.id);
              $('#zip_code').val(ui.item.label);
            }
          });
          $('.note').tooltip({ title: 'Setting your profile to private will prevent other users from inviting you to groups.', placement: 'right' });
      }); 
  </script>
{% endblock %}
{% block content %}
  {% if usersettings.user.id == user.id %} 
    <p>If you are only interested in certain types of organisms (i.e. you are here for birding only), feel free to hide the others below in order to restrict the organisms that will appear on auto-completion or location lists. (Note, you can still see them if they are already on an existing list, or you go to them directly.)</p>
    <p>Entering a home zip code will also help center your observation creation map so it defaults to your home location.</p>
    <form action="" method="post">
      {% csrf_token %}
     <table class="table">
       <tr>
       {% for field in form %}
       <tr>
         <th>{{ field.label_tag }} {% if field.field.required %}<span class="requ">*</span>{% endif %}</th>
         <td>{{ field.errors }}{{ field }}
           {% if field.help_text %}
           <p class="help_text">{{ field.help_text }}</p>
           {% endif %}
         </td>
       </tr>
       {% endfor %}
       <tr>
        <th>
          <label for="id_private">Private</label>
        </th>
        <td>
          <input id="id_private" type="checkbox" name="private" value="{{ usersettings.private }}" class="note">
        </td>
      </tr>
       <tr>
        <th>
          <label for="id_zipcode">Home Zip Code</label>
          <span class="requ">*</span>
        </th>
        <td>
          <input id="id_zipcode" type="hidden" value="{{ usersettings.zipcode.id }}" name="zipcode">
          <input id="zip_code" type="text" name="zip_code" value="{{ usersettings.zipcode }}"><span class="help_text">Enter Zip Code to help center maps</span>
        </td>
      </tr>
       <tr><th></th><td><input type="submit" value="Submit"></td></tr>
     </table>
    </form>
    {% else %}
    <p>Oops, I don't think you should be here. Did you mean to go to <a href="/accounts/profile/{{ user.id }}/edit">your profile page?</a></p>
    {% endif %}
{% endblock content %}