{% if is_paginated %}
	<div class="pagination pagination-centered">
		<ul>
			{% if page_obj.has_previous %}
				<li><a href="?page={{ page_obj.previous_page_number }}">«</a></li>
			{% else %}
				<li class="disabled"><a href="">«</a></li>
			{% endif %}
			{% for page_number in paginator.page_range %}
				{% ifequal page_number page_obj.number %}
					<li class="active"><a href="">{{ page_number }}</a></li>
				{% else %}
					<li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
				{% endifequal %}
			{% endfor %}
			{% if page_obj.has_next %}
				<li><a href="?page={{ page_obj.next_page_number }}">»</a></li>
			{% else %}
				<li class="disabled"><a href="">»</a></li>
			{% endif %}
		</ul>
	</div>
{% endif %}