<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6b-LfSPC4oIvgGh2OyVvabLrgd9HSCRc&sensor=false"></script>
<script type="text/javascript">
var map;
var infowindow = null;
$(document).ready(function () { initialize();  });

function initialize() {
    {% if lat_lng %}
    var lat_center = {{ lat_lng.latitude }}
    var lng_center = {{ lat_lng.longitude }}
    {% else %}
    var lat_center = 29.725188000
    var lng_center = -95.763112000
    {% endif %}
    var centerMap = new google.maps.LatLng(lat_center, lng_center);

    var myOptions = {
        zoom: 12,
        center: centerMap,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    infowindow = new google.maps.InfoWindow({content: "loading..."});

    google.maps.event.addListener(map, 'click', function(event) {
      document.getElementById("id_latitude").value = event.latLng.lat().toFixed(9);
      document.getElementById("id_longitude").value = event.latLng.lng().toFixed(9);
    });
}
</script>