{% extends "nature/base.html" %}
{% load zinnia_tags %}
{% block title %} Welcome to SpeSee {% endblock title %}
{% block content %}
	{% get_recent_entries 5 "zinnia/home_excerpts.html" %}
{% endblock content %}
{% block right-content %}
<h2>Recent Observations:</h2>
    {% if first_ogranisms %}
        <ul>
        {% for organism in first_ogranisms %}
            {% if organism.observed > 0 %}
            <li><a href="{{ organism.get_absolute_url }}{{ organism.common_name|slugify }}">{{ organism.common_name }} ({{ organism.latin_name }}) - {{ organism.observed }}</a> </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No organisms are available.</p>
    {% endif %}
{% endblock %}    