{% extends "zinnia/base.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
  <li>{% trans "Error 500" %}</li>
</ul>
{% endblock %}

{% block title %}{% trans "Server error" %}{% endblock %}

{% block body-class %}error-500{% endblock %}

{% block content %}
<h2>{% trans "Server error" %}</h2>

<p>{% trans "There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly. Thanks for your patience." %}</p>

<div class="links">
  <h3>{% trans "Useful links" %}</h3>
  <ul>
    <li>
      <a href="{% url 'zinnia_entry_archive_index' %}" title="{% trans "Blog index" %}">
        {% trans "Blog index" %}
      </a>
    </li>
    <li>
      <a href="{% url 'zinnia_sitemap' %}" title="{% trans "Sitemap" %}">
        {% trans "Sitemap" %}
      </a>
    </li>
  </ul>
</div>

<div class="recents">
  <h3>{% trans "Recent entries" %}</h3>
  {% get_recent_entries 5 %}
</div>

<div class="search">
  <h3>{% trans "Search" %}</h3>
  {% include "zinnia/tags/search_form.html" %}
</div>
{% endblock %}
